{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Portal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
  </head>
  <body class="bg-gray-200 font-inter">
      {% block content %}

      {% endblock %}
    <!-- <script src="{% static 'js/app.js' %}" ></script> -->
  </body>
</html>