{% load humanize %}

<a href="{% url 'single' student.id %}" class="block hover:bg-gray-100">
    <div
        class="px-4 flex justify-between items-center py-5 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6 border-t border-gray-200">
        <dt class="flex items-center text-sm font-medium">
            {% if student.image %}
            <figure class="inline w-8 mr-2">
                <img class="h-8 w-8 rounded-full" src="{{ student.image.url }}" alt="">
            </figure>
            {% endif %}

            <h2 class="inline">{{ student.name }}</h2>
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 ">{{ student.category }} </dd>
    </div>
</a>