{% extends 'base.html' %}

{% block content %}

{% include 'includes/admin-navbar.html' %}


<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="px-4 py-6 sm:px-0">
        <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
            <form action="." method="post" novalidate>

                {% include 'includes/form.html' %}
        
                <button class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">Submit</button>
        
            </form>
        </div>
      </div>
    </div>
  </main>

{% endblock %}